<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzq.life.picture">

    <application>
        <activity android:name=".view.GankPictureActivity" />
        <activity android:name=".view.PictureMainActivity" />
    </application>

</manifest>